.home{
    grid-template-columns: 4.4fr 5.5fr;
    align-items: center;
    padding: 0 40px;
    height: 100vh;
}
.home__img{
    height: 100%;
    object-fit: cover;
    border-right: 30px;
    box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.3);
    /*z-index: 1;*/
}
.home__data {
    max-width: 638px;
    margin-inline: auto;
    padding-top: 20px;
}
.home__title{
    font-size: var(--h2-font-size);
    font-weight: 600;
    line-height: 1.24;
    padding-left: 70px;
    animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(300px);
    }
    to {
        opacity: 1;
    }
}
.orange-slider-image-linear{
    width: 100%;
    height: 100%;
    position: absolute;
     background: linear-gradient(90deg, var(--first-color) 0%, rgba(43, 11, 61, 0.1) 15%) no-repeat;
     /*background: linear-gradient(90deg, var(--first-color) 0%, rgba(243, 110, 61, 0.24) 100%) no-repeat;*/
    left: 0;
    /*z-index: 2;*/
}
.home__title span{
    color: var(--first-color);

}
.home .button{
    left: 4%;
}
.home__description {
    line-height: 2.125;
    margin: 16px 30px 30px 30px;
}

.color__block{
    position: fixed;
    height: 200%;
    width: 100%;
    background-color: var(--first-color);
    top: -50%;
    left: -90%;
    transform: rotate(-15deg);
}


    @media screen and (max-width: 1300px){
       .home{padding: 0 67px 0 45px;}
    }
@media screen and (max-width: 1024px){

    }
    @media screen and (max-width: 860px){
        .orange-slider-image-linear{
            display: none;
        }
        .color__block{
            display: none;
        }
        .home__img{
            display: none;
        }
        .home{
            grid-template-columns: auto;
        }
    }
@media screen and (max-width: 600px){
    .home__title{
        font-size: var(--h2-font-size);
        /*padding-left: 20px;*/
        padding-left: 0;
    }
    .home__description{
        margin: 0;
    }
    .home {
        padding: 55px;
    }
}