.theme__img{
    width: 30px;
    cursor: pointer;
}
.theme__toggler {
    position: absolute;
    background-color: var(--text-white);
    height: 50px;
    width: 50px;
    font-size: var(--large-font-size);
    cursor: pointer;
    display: grid;
    place-items: center;
    box-shadow: 0 0 2px hsl(0, 0%, 80%);
    transition: all 0.3s ease;
    z-index: 3;
}
.theme__toggler{
    top: 7%;
}
@media screen and (max-width: 1024px){
    .theme__toggler
    {
        z-index: 0;
    }
}